/* <header> */

header {
  margin: 0;
  background-image: url('https://static.wizoom.com.br/site/images/o-proximo-nivel/background-1.png');
  background-size: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

header .viewport-1-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 55px;
  margin-bottom: 5rem;
}

header h4 {
  color: var(--cor-branco);
  font-family: var(--fonte-bold);
  font-size: clamp(1.2rem, 5vw, 1.6rem);
  line-height: 1.5;
  width: 100%;
  max-width: 600px;
}

header #p-txt1 {
  color: var(--cor-branco);
  font-family: var(--fonte-medium);
  font-size: 14px;
  padding: 0 10px 0 10px ;
  width: 100%;
  max-width: 700px;
}

header #txt-fonte-estilo {
  color: var(--cor-principal);
  font-family: var(--fonte-estilo);
  font-size: 30px;
  padding: 1.5rem 0 1.5rem 0;
}

header #txt-3_bold {
  color: var(--cor-verde);
  font-family: var(--fonte-medium);
}

header #bold {
  font-family: var(--fonte-medium);
  color: var(--cor-cinza-claro-3);
}

header p {
  font-family: var(--fonte-regular);
  color: var(--cor-cinza-claro-3);
  font-size: 0.95rem;
  line-height: 2;
}

header .viewPort-1-form {
  background-color: var(--cor-branco);
  min-width: 300px;
  width: 450px;
  height: 450px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 2rem ;
  text-align: left;
  margin-bottom: 8rem;
}

header .container-img {
  min-width: 75%;
  max-width: 100%;    
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

header .imagem-form {
  max-width: 25%;
}

header #form-txt-amarelo {
  color: var(--cor-principal);
  font-family: var(--fonte-bold);
  font-size: 22px;
  max-width: 300px;
  line-height: 1.5;
  padding-left: 1rem;
}

header #form-txt-preto {
  color: var(--cor-preto);
  font-family: var(--fonte-medium);
  font-size: 12px;
  padding-left: 1rem;
}

header .container-inputs {
  min-width: 75%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header input {
  width: 100%;
  background-color: var(--cor-cinza-claro-1);
  padding: 1rem;
  border-radius: 10px;
}

header label {
  color: var(--cor-preto);
  font-family: var(--fonte-medium);
  font-size: 10px;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

header #asterisco {
  color: var(--cor-vermelho);
}

header #button-viewport1 {
  background-color: var(--cor-verde);
  font-family: var(--fonte-estilo);
  font-size: 1.5rem;
  color: var(--cor-branco);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  min-width: 75%;
  max-width: 100%;
  cursor: pointer;
}

header .form-imgs {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

header .img-antes {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

header .img-depois {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5rem;
  margin-left: 5rem;
}

header #antes-e-depois {
  width: 250px;
}

header .img-antes-e-depois {
  display: none;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  header {
    background-image: url('https://static.wizoom.com.br/site/images/o-proximo-nivel/background-1.png');
    background-size: 250%;
  }
  header h4 { 
    font-size: 25px;
  }
  header #p-txt1 {
    font-size: 10px;
  }
  header #txt-fonte-estilo {
    font-size:25px;
  }
  header .viewport-1-txt {
    margin-bottom: 2rem;
  }
  header .form-imgs {
    display: flex; 
    flex-direction: column;
  }
  header .viewPort-1-form {
    width: 320px; 
    height: 400px;
  }
  header .img-antes {
    display: none;
  }
  header .img-depois {
    display: none;
  }
  header .img-antes-e-depois {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8rem;
  }
  header .viewPort-1-form {
    margin-bottom: none;
  }
  header #antes-e-depois {
    margin-bottom: 2rem;
  }
  header #form-txt-amarelo {
    font-size: 15px
  }
  header #form-txt-preto {
    font-size: 8px;
  }
  header #button-viewport1 {
    font-size: 1rem;
  }
}