/* <header> */

body{
  overflow-x: hidden;
}

header {
  margin: 0;
  background-image: url('https://static.wizoom.com.br/site/images/o-proximo-nivel/background-1.png');
  background-size: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 80px;
}

header .viewport-1-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 55px;
  margin-bottom: 5rem;
  width: 100%;
}

header h4 {
  color: var(--cor-branco);
  font-family: var(--fonte-bold);
  font-size: clamp(1.2rem, 5vw, 1.6rem);
  line-height: 1.5;
  width: 100%;
  max-width: 600px;
}

header .p-txt1 {
  color: var(--cor-branco);
  font-family: var(--fonte-medium);
  font-size: 14px;
  width: 100%;
  max-width: 500px;
}

header .p-txt2 {
  color: var(--cor-branco);
  font-family: var(--fonte-medium);
  font-size: 14px;
  width: 100%;
  max-width: 500px;
  margin: 30px 0 0 0;
}

header .txt-fonte-estilo {
  color: var(--cor-principal);
  font-family: var(--fonte-estilo);
  font-size: 30px;
  padding: 1.5rem 0 1.5rem 0;
}

header .txt-3_bold {
  color: var(--cor-verde);
  font-family: var(--fonte-medium);
}

header .bold {
  font-family: var(--fonte-medium);
  color: var(--cor-cinza-claro-3);
}

header p {
  font-family: var(--fonte-regular);
  color: var(--cor-cinza-claro-3);
  font-size: 0.95rem;
  line-height: 1.5;
}

header .viewPort-1-form {
  background-color: var(--cor-branco);
  max-width: 500px;
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem 0 2rem ;
  text-align: left;
  margin-bottom: 8rem;
  padding: 40px;
}

header .viewPort-1-form h2 {
  font-family: var(--fonte-bold);
  color: var(--cor-cinza-escuro-4);
  font-size: clamp(1rem, 5vw, 1.2rem);
  line-height: 1.5;
  padding: 30px 0 0 0;
}

header .viewPort-1-form h3 {
  font-family: var(--fonte-regular);
  color: var(--cor-cinza-escuro-4);
  font-size: clamp(0.9rem, 5vw, 1.1rem);
  line-height: 1.5;
  padding: 15px 0 0 0;
}

header .viewPort-1-form button.telegram {
  background-color: var(--cor-azul);
  font-family: var(--fonte-estilo);
  font-size: 1.5rem;
  color: var(--cor-branco);
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
  margin: 20px 0 0 0;
}

header .viewPort-1-form button.telegram:hover {
  background-color: var(--cor-principal);
}

header .container-img {
  width: 100%;    
  display: flex;
  align-items: center;
}

header .imagem-form {
  max-width: 25%;
}

header .form-txt-amarelo {
  color: var(--cor-principal);
  font-family: var(--fonte-bold);
  font-size: 22px;
  max-width: 300px;
  line-height: 1.5;
  padding-left: 1rem;
}

header .form-txt-preto {
  color: var(--cor-preto);
  font-family: var(--fonte-medium);
  font-size: 12px;
  padding-left: 1rem;
}

header form input {
  font-family: var(--fonte-regular);
  font-size: clamp(0.9rem, 5vw, 1rem);
  color: var(--cor-cinza-escuro-4);
  width: 100%;
  background-color: var(--cor-cinza-claro-1);
  padding: 20px;
  border-radius: 14px;
  transition: all 0.3s;
  margin: 5px 0 20px 0;
}

header form input::placeholder {
  opacity: 1;
  color: var(--cor-cinza-escuro-4);
}

header form input:focus {
  color: var(--cor-principal);
}

header form label {
  color: var(--cor-preto);
  font-family: var(--fonte-medium);
  font-size: clamp(0.7rem, 5vw, 0.9rem);
}

header form label b {
  color: var(--cor-vermelho);
}

header form button {
  background-color: var(--cor-verde);
  font-family: var(--fonte-estilo);
  font-size: 1.5rem;
  color: var(--cor-branco);
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

header form button:hover {
  background-color: var(--cor-principal);
}

header .form-imgs {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  width: 100%;
}

header .img-antes {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

header .img-depois {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5rem;
  margin-left: 5rem;
}

header .antes-e-depois {
  width: 250px;
}

header .img-antes-e-depois {
  display: none;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  header {
    background-image: url('https://static.wizoom.com.br/site/images/o-proximo-nivel/background-1.png');
    background-size: 250%;
    padding: 0 20px;
  }
  header .txt-fonte-estilo {
    font-size: 25px;
  }
  header .viewport-1-txt {
    padding-bottom: 2rem;
    margin: 0 20px;
  }
  header .form-imgs {
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
  header .viewPort-1-form {
    margin: 0 20px 5rem 20px;
    padding: 30px;
  }
  header .img-antes {
    display: none;
  }
  header .img-depois {
    display: none;
  }
  header .img-antes-e-depois {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8rem;
  }
  header .viewPort-1-form {
    margin-bottom: none;
  }
  header .antes-e-depois {
    margin-bottom: 2rem;
  }
  header .button-viewport1 {
    font-size: 1rem;
  }
}