/* <section class="sobre"> */

section.sobre {
  width: 100vw;
  background-color: var(--cor-cinza-escuro-2);
  background-image: url('https://static.wizoom.com.br/site/images/o-proximo-nivel/background-2.png');
  background-size: 90%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding-top: 3rem;
  overflow: hidden;
  padding-left: 80px;

}

section.sobre .sobre-o-curso {
  z-index: 1;
}

section.sobre .info-curso-img {
  width: 80px;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

section.sobre .info-p {
  font-family: var(--fonte-medium);
  color: var(--cor-cinza-claro-1);
  font-size: clamp(1.1rem, 5vw, 1.3rem);
  line-height: 1.5;
}

section.sobre .info-curso-botao {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5rem;

}

section.sobre .container-foto-homem-viewport2 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 5rem;
}

section.sobre .container-foto-homem-mobile{
  display: none;
}

section.sobre .img-homem {
  padding-top: 80px ;
  height: 1200px;
}

section.sobre .button-viewport2 {
  background-color: var(--cor-verde);
  font-family: var(--fonte-estilo);
  font-size: 1.5rem;
  color: var(--cor-branco);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  min-width: 75%;
  max-width: 100%;
  cursor: pointer;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.sobre {
    flex-direction: column;
    justify-content: center;
    background-size: 250%;
    padding-top: 1rem;
    padding: 0 20px;
  }
  section.sobre .info-p {
    font-size: 1rem;
  }
  .img-homem { 
   display: none;
  }
  .info-curso-img {
    padding-top: 0.5rem;
    width: 500px;
  }

  section.sobre .info-curso-botao {
    padding-bottom: 3rem;
    font-size: 14px;
  }
  section.sobre .button-viewport2{
    font-size: 150%;
    width: 100%;
    padding: 1.5rem;
  }
  .container-foto-homem-viewport2 {
    display: none;
  }
  section.sobre .container-foto-homem-mobile{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .img-homem-mobile{
    width: 60%;
    height: 100%;
    
  }
}