/* <section class="historia"> */

section.historia {
  width: 100vw;
  height: 130vh;
  background-image: url('https://static.wizoom.com.br/site/images/o-proximo-nivel/background-1.png');
  background-size: 90%;
  box-sizing: border-box;
  display: flex;
  padding-top: 5rem;
  overflow: hidden;
  padding-right: 80px;

}

section.historia .foto-homem-viewport3 {
  width: 40%;
}

section.historia .container-txt-viewport3 {
  width: 700px;
  height: auto;
  display: flex;
  justify-content: center;

}

section.historia .txt-viewport3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
}

section.historia .txt-bold-amarelo {
  font-family: var(--fonte-bold);
  font-size: 28px;
  color: var(--cor-principal);
  line-height: 1.5;
}

section.historia .txt-viewport3-p {
  font-family: var(--fonte-bold);
  font-size: 28px;
  color: var(--cor-cinza-claro-1);
  line-height: 1.5;
}

section.historia .txt-bold {
  font-family: var(--fonte-bold);
  color: var(--cor-cinza-claro-2);
  line-height: 1.5;
}

section.historia p {
  color: var(--cor-cinza-claro-4);
  font-family: var(--fonte-regular);
  padding-top: 20px;
  line-height: 1.5;
} 

section.historia .txt-3_bold-verde{
  color: var(--cor-verde);
  font-family: var(--fonte-medium);
}

section.historia .txt-amarelo-viewport3 {
  font-family: var(--fonte-medium);
  color: var(--cor-principal);
}

section.historia .foto-homem-viewport3-mobile {
  display: none;
}

section.historia .foto-homem-viewport3 {
  margin-right: 2rem;
  background-image: url('https://static.wizoom.com.br/site/images/o-proximo-nivel/widnei-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -120px;
}

section.historia .info-curso-botao-viewport3 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5rem;
}   

section.historia .button-viewport3 {
  width: 100px;
  background-color: var(--cor-verde);
  font-family: var(--fonte-estilo);
  font-size: 1.5rem;
  color: var(--cor-branco);
  margin-top: 2rem;
  padding: 1rem 0 1rem 0;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  transition: all 0.3s;
}

section.historia .button-viewport3:hover {
  background-color: var(--cor-principal);
}

section.historia .info-curso-botao-viewport4-mobile {
  display: none;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.historia {
    height: auto;
    flex-direction: column;
    background-size: 250%;
    padding-top: 2rem;
    padding-right: 20px;
    padding-left: 20px;
  }
  section.historia .container-txt-viewport3 {
    width: 95%; 
    text-align: left;
  }
  section.historia p {
    color: var(--cor-cinza-claro-4);
    font-family: var(--fonte-regular);
    padding-top: 1rem;
  } 
  section.historia .txt-bold{
    font-family: var(--fonte-medium);
  }
  .txt-bold-amarelo {
    font-size: 24px; 
    line-height: 1.5;
  }
  section.historia .txt-viewport3-p {
    font-size: 24px;
    line-height: 1.5;
  }
  section.historia .txt-3_bold-verde{
    color: var(--cor-verde);
    font-family: var(--fonte-medium);
  }
  section.historia .line-height{
    line-height: 1.5;
  }
  section.historia .button-viewport3 {
    font-size: 1.2rem; 
    width: 100%; 
    padding: 1rem; 
  }
  section.historia .info-curso-botao-viewport3 {
    align-items: none; 
    width: 100%;
  }
  .foto-homem-viewport3 {
    display: none;
  }
  section.historia .foto-homem-viewport3-mobile {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .img-homem-viewport3 {
    width: 0%;
    height: 100%;
  }
}