/* Fontes */

@font-face {
  font-family: 'poppinsBold';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.wizoom.com.br/site/fonts/poppinsBold.woff') format('woff');
}

@font-face {
  font-family: 'ccMonsterMasterMedium';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.wizoom.com.br/site/fonts/ccMonsterMasterMedium.woff') format('woff');
}

@font-face {
  font-family: 'gorditaMedium';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.wizoom.com.br/site/fonts/gorditaMedium.woff') format('woff');
}

@font-face {
  font-family: 'gorditaRegular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.wizoom.com.br/site/fonts/gorditaRegular.woff') format('woff');
}
