/* Fontes */

@font-face {
  font-family: 'gt_walsheim_regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.wizoom.com.br/fonts/gt-walsheim-regular.woff') format('woff');
}

@font-face {
  font-family: 'gt_walsheim_medium';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.wizoom.com.br/fonts/gt-walsheim-medium.woff') format('woff');
}

@font-face {
  font-family: 'gt_walsheim_bold';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.wizoom.com.br/fonts/gt-walsheim-bold.woff') format('woff');
}
