/* Scrollbar */

body, html {
  scrollbar-color: #121219 #D3AE13;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: #D3AE13;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #121219;
}
