/* Variables */

:root {

--cor-branco: #FFFFFF;
--cor-preto: #000000;

--cor-principal: #D3AE13;

--cor-cinza-escuro-1: #121219;
--cor-cinza-escuro-2: #1E1E28;
--cor-cinza-escuro-3: #2C2C38;

--cor-cinza-claro-1: #EFEFF9;
--cor-cinza-claro-2: #E4E4ED;
--cor-cinza-claro-3: #CCCCD6;
--cor-cinza-claro-4: #9B9BAA;

--cor-branco-transparente: rgba(255, 255, 255, 0.05);

--cor-vermelho: #D82A3F;
--cor-verde: #26C666;
--cor-azul: #2EBAE5;
--cor-roxo: #A044E2;

--fonte-bold: 'poppinsBold';
--fonte-estilo: 'ccMonsterMasterMedium';
--fonte-regular: 'gorditaRegular';
--fonte-medium: 'gorditaMedium';

--fonte-gt-regular: 'gtWalsheimRegular';
--fonte-gt-medium: 'gtWalsheimRegular';
--fonte-gt-bold: 'gtWalsheimRegular';

}
