/* <section class="apresentacao"> */

section.apresentacao {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--cor-cinza-1);
  background-image: url('https://static.wizoom.com.br/site/images/gestao-marketing/background-1.png');
  background-size: cover;
  background-position: center;
  padding: 80px 0 0 100px;
}

section.apresentacao img.detalhe {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
}

section.apresentacao img.principal {
  width: 100%;
  max-width: 30%;
  z-index: 2;
  margin-top: auto;
  margin-left: auto;
}

section.apresentacao .titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 60%;
  padding: 80px 0 160px 0;
  z-index: 2;
}

section.apresentacao .titulo h1 {
  font-family: var(--fonte-bold);
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  color: var(--cor-branco);
  line-height: 1.5;
}

section.apresentacao .titulo h1 span {
  color: var(--cor-verde);
}

section.apresentacao .titulo p {
  font-family: var(--fonte-regular);
  font-size: clamp(1rem, 1vw, 1.2rem);
  color: var(--cor-branco);
  line-height: 1.7;
  padding: 20px 0 30px 0;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.apresentacao {
    flex-direction: column;
    padding: 50px 0 0 30px;
  }
  section.apresentacao img.detalhe {
    height: auto;
    width: 80%;
  }
  section.apresentacao img.principal {
    max-width: 70%;
  }
  section.apresentacao .titulo {
    max-width: 100%;
    padding: 0 30px 30px 0;
  }
}