/* Variables */

:root {

--cor-branco: #FFFFFF;
--cor-preto: #000000;
--cor-cinza-1: #121A1C;
--cor-cinza-2: #22292B;
--cor-amarelo: #D3AE13;
--cor-verde: #2FC83E;
--cor-azul: #00CCFF;

--fonte-bold: 'mark-pro-bold';
--fonte-regular: 'mark-pro-regular';

}
