/* <button class="whatsapp"> */

button.whatsapp {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: transparent;
  z-index: 10;
}

button.whatsapp img {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  pointer-events: none;
  animation: whatsappImg 1s infinite linear;
}

@keyframes whatsappImg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1000px) {
  button.whatsapp {
    bottom: 20px;
    right: 20px;
  }
}