/* <section class="autor"> */

section.autor {
  width: 100vw;
  height: auto;
  box-sizing: content-box;
  padding-bottom: 4rem;
  background-image: url('https://static.wizoom.com.br/site/images/index/linhas-background.png');
  background-size: 90%;
  position: relative;
}

section.autor .container-imagens {
  width: 100vw;
  height: 40vh;
  position: relative;
  padding: 0 80px;
  display: flex;
  justify-content: center;
}

section.autor .container-textos {
  width: 100vw;
  text-align: center;
  padding: 0 80px 0 80px;
}

section.autor .logo-maior {
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 5rem;
}

section.autor .homem {
  width: 300px;
  min-width: 300px;
  bottom: 0;
  position: absolute;
}

section.autor .logo-menor {
  width: 60px;
  position: absolute;
  top: 120px;
  right: 0;
  margin-right: 5rem;
}

section.autor h2 {
  font-size: clamp(1.7rem, 5vw, 2.3rem);
  line-height: 1.5;
  font-family: var(--fonte-bold);
  color: var(--cor-branco);
  padding-top: 2rem;
}

section.autor p {
  font-size: clamp(1rem, 5vw, 1.2rem);
  line-height: 1.7;
  font-family: var(--fonte-regular);
  color: var(--cor-branco);
  padding: 40px 0 0 0;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.autor {
    background-size: 280%;
  }
  section.autor .container-textos {
    padding: 0 25px 25px;
  }
  section.autor .container-imagens {
    padding: 0 25px;
  }
  section.autor .logo-maior {
    display: none;
  }
  section.autor .homem {
    width: 300px;
    bottom: 0;
    position: absolute;
  }
  section.autor .logo-menor {
    display: none;
  }
  section.autor .container-textos {
    text-align: left;
  }
}