/* <section class="presentes"> */

section.presentes {
  width: 100vw;
  height: auto;
  box-sizing: content-box;
  padding: 4rem 0;
  background-image: url('https://static.wizoom.com.br/site/images/index/linhas-background.png');
  background-size: 90%;
  background-color: var(--cor-branco-transparente);
}

section.presentes h2 {
  font-size: clamp(1.7rem, 5vw, 2.3rem);
  line-height: 1.5;
  font-family: var(--fonte-bold);
  color: var(--cor-branco);
  padding: 0 80px;
  padding-bottom: 2rem;
}

section.presentes .texto-cor-principal {
  color: var(--cor-principal);
}

section.presentes .container-presentes {
  padding: 0 80px;
  display: flex;
}

section.presentes img {
  width: 70px;
}

section.presentes .presente {
  min-width: 100px;
}

section.presentes .paragrafo-presente-line {
  padding-top: 2rem;
}

section.presentes h3 {
  font-size: clamp(1.2rem, 5vw, 1.4rem);
  line-height: 1.5;
  color: var(--cor-principal);
  font-family: var(--fonte-bold);
}

section.presentes p {
  color: white;
  font-size: clamp(1rem, 5vw, 1.2rem);
  line-height: 1.7;
  font-family: var(--fonte-regular);
  padding: 15px 0 0 0;
}

section.presentes .texto {
  padding-left: 1rem;
  padding-bottom: 3rem;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.presentes {
    background-size: 280%;
  }
  section.presentes h2 {
    padding: 0 20px;
    padding-bottom: 3rem;
    text-align: left;
  }
  section.presentes .container-presentes {
    padding: 0 25px;
  }
  section.presentes img {
    width: 60px;
  }
  section.presentes .presente {
    min-width: 60px;
  }
  section.presentes .texto {
    padding-left: 1rem;
  }
}