/* <section class="conteudo"> */

section.conteudo {
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  padding: 4rem 80px;
  background-image: url('https://static.wizoom.com.br/site/images/index/linhas-background.png');
  background-size: 90%;
}

section.conteudo h2 {
  font-size: clamp(1.7rem, 5vw, 2.3rem);
  line-height: 1.5;
  font-family: var(--fonte-bold);
  color: var(--cor-branco);
  text-align: center;
  padding: 0 80px;
}

section.conteudo h2 span {
  color: var(--cor-principal);
}

section.conteudo .explicacoes {
  width: 100%;
}

section.conteudo .texto-cor-principal-destaque {
  color: var(--cor-principal);
  font-family: var(--fonte-bold);
  font-size: clamp(1.7rem, 5vw, 2.3rem);
  line-height: 1.5;
}

section.conteudo .texto-negrito {
  font-family: var(--fonte-bold);
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  color: var(--cor-principal);
}

section.conteudo .container-explicacao {
  width: 100%;
  background-color: var(--cor-branco-transparente);
  margin: 2rem 0;
  padding: 3rem;
  border-radius: 16px;
}

section.conteudo h3 {
  font-family: var(--fonte-bold);
  font-size: clamp(1.4rem, 5vw, 1.7rem);
  padding-bottom: 1.5rem;
  line-height: 1.5;
  color: var(--cor-branco);
}

section.conteudo .texto-cor-verde {
  font-size: clamp(1.2rem, 5vw, 1.6rem);
  font-family: var(--fonte-medium);
  color: var(--cor-verde);
}

section.conteudo .texto-cor-principal {
  color: var(--cor-principal);
}

section.conteudo .container-explicacao p {
  font-size: clamp(1rem, 5vw, 1.2rem);
  font-family: var(--fonte-regular);
  line-height: 1.7;
  color: var(--cor-branco);
  padding: 0 0 20px 0;
}

section.conteudo .container-explicacao p.cor {
  font-family: var(--fonte-medium);
  color: var(--cor-principal);
  padding: 0 0 0 0;
}

section.conteudo .container-explicacao p span {
  font-family: var(--fonte-medium);
  color: var(--cor-principal);
}

section.conteudo .botao-desktop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

section.conteudo .botao-mobile {
  display: none;
}

section.conteudo button {
  background-color: var(--cor-principal);
  color: var(--cor-branco);
  font-size: clamp(1.2rem, 5vw, 1.7rem);
  line-height: 1.5;
  font-family: var(--fonte-bold);
  border: none;
  padding: 20px 35px;
  border-radius: 20px;
  transition: all 0.3s;
}

section.conteudo button:hover {
  background-color: var(--cor-verde);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.conteudo {
    background-size: 280%;
    padding: 4rem 25px;
  }
  section.conteudo h2 {
    padding: 0;
  }
  section.conteudo .container-explicacao {
    width: 100%;
    background-color: var(--cor-branco-transparente);
    margin: 2rem 0;
    padding: 30px;
    border-radius: 16px;
  }
  section.conteudo .botao-desktop {
    display: none;
  }
  section.conteudo .botao-mobile {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  section.conteudo button {
    width: 80%;
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    font-size: clamp(1em, 1em + 3vw, 1.2em);
    line-height: 1.5;
    font-family: var(--fonte-bold);
    border: none;
    padding: 1rem;
    border-radius: 10px;
  }
}