/* <section class="publico"> */

section.publico {
  width: 100vw;
  padding-top: 4rem;
  box-sizing: content-box;
  background-image: url('https://static.wizoom.com.br/site/images/index/linhas-background.png');
  background-size: 90%;
  background-color: var(--cor-branco-transparente);
}

section.publico h2 {
  font-family: var(--fonte-bold);
  color: var(--cor-branco);
  font-size: clamp(1.7rem, 5vw, 2.3rem);
  padding: 0 80px;
}

section.publico .container-textos {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 80px;
}

section.publico .container-texto {
  display: flex;
  padding: 50px 0 0 0;
}

section.publico h3 {
  font-family: var(--fonte-bold);
  color: var(--cor-branco);
  font-size: clamp(1.7rem, 5vw, 2rem);
  line-height: 1.6;
  min-width: 40px;
}

section.publico p {
  font-size: clamp(1rem, 5vw, 1.2rem);
  line-height: 1.7;
  font-family: var(--fonte-regular);
  color: var(--cor-branco);
}

section.publico .texto-cor-principal {
  color: var(--cor-principal);
}

section.publico h4 {
  font-family: var(--fonte-bold);
  color: var(--cor-branco);
  font-size: clamp(1.2rem, 5vw, 2rem);
  padding: 80px;
  overflow: hidden;
}

section.publico .container {
  height: 100%;
  width: 100%;
  background-image: url('https://static.wizoom.com.br/site/images/index/widnei-1.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.publico {
    padding-top: 50px;
    background-size: 280%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  section.publico h2 {
    padding: 0 25px;
  }
  section.publico .container-textos {
    width: 100%;
    padding: 0 25px;
  }
  section.publico h4 {
    text-align: left;
    padding: 50px 25px;
    min-width: 30px;
  }
  section.publico .container {
    height: 100%;
    width: 100%;
    background-image: none;
  }
}