/* <section class="assinar"> */

section.assinar {
  width: 100vw;
  height: auto;
  display: flex;
  padding-top: 4rem;
  padding-bottom: 4rem;
  flex-direction: column;
  background-image: url('https://static.wizoom.com.br/site/images/index/linhas-background.png');
  background-size: 90%;
  background-color: var(--cor-branco-transparente);
}

section.assinar .container-titulo {
  text-align: center;
  padding: 0 80px;
}

section.assinar h2 {
  font-size: clamp(1.7rem, 5vw, 2.3rem);
  line-height: 1.5;
  font-family: var(--fonte-bold);
  color: var(--cor-branco);
  padding-bottom: 1rem;
}

section.assinar .texto-cor-principal {
  color: var(--cor-principal);
}

section.assinar .container-escolhas {
  width: 100%;
  display: flex;
  padding: 0 80px;
  padding-top: 2rem;
}

section.assinar .container-ofertados {
  display: flex;
}

section.assinar .completo {
  width: calc((0.6)* 100%);
  min-width: 350px;
  background-color: var(--cor-cinza-escuro-1);
  min-width: 250px;
  border-radius: 16px;
  margin-right: 1rem;
  padding: 2rem;
}

section.assinar .incompleto {
  width: calc((0.6)* 100%);
  background-color: var(--cor-branco);
  min-width: 250px;
  border-radius: 16px;
  margin-left: 1rem;
  padding: 2rem;
}

section.assinar h3 {
  font-family: var(--fonte-bold);
  font-size: clamp(1.2rem, 5vw, 1.4rem);
  line-height: 1.5;
}

section.assinar .subtitulo-completo h3 {
  color: var(--cor-principal);
}

section.assinar .subtitulo-incompleto h3 {
  color: var(--cor-principal);
}

section.assinar p {
  font-family: var(--fonte-regular);
  font-size: clamp(1rem, 5vw, 1.2rem);
  line-height: 1.7;
  padding: 15px 0 0 0;
}

section.assinar .completo p {
  color: var(--cor-branco);
}

section.assinar .incompleto p {
  color: var(--cor-preto);
}

section.assinar .texto-cor-preto {
  color: var(--cor-preto);
}

section.assinar .texto-cor-branco {
  color: var(--cor-branco);
}

section.assinar .negrito {
  font-family: var(--fonte-medium);
}

section.assinar .icone {
  width: 20px;
  margin-right: 0.8rem;
}

section.assinar .x {
  width: 14px;
  margin-right: 0.8rem;
}

section.assinar .preco {
  padding-top: 2rem;
}

section.assinar .preco h4 {
  font-family: var(--fonte-bold);
  font-size: clamp(1.2rem, 5vw, 1.4rem);
  line-height: 1.5;
}

section.assinar .preco h5 {
  font-family: var(--fonte-bold);
  font-size: clamp(1.7rem, 5vw, 2.3rem);
  line-height: 1.5;
}

section.assinar .completo .preco h4 {
  color: var(--cor-branco);
}

section.assinar .incompleto .preco h4 {
  color: var(--cor-preto);
}

section.assinar .completo .preco h5 {
  color: var(--cor-verde);
}

section.assinar .incompleto .preco h5 {
  color: var(--cor-principal);
}

section.assinar .botao {
  width: 100%;
  padding-top: 2rem;
}

section.assinar button {
  color: var(--cor-branco);
  font-size: clamp(1.2rem, 5vw, 1.7rem);
  line-height: 1.5;
  font-family: var(--fonte-bold);
  border: none;
  padding: 20px 50px;
  border-radius: 20px;
  transition: all 0.3s;
  width: 100%;
}

section.assinar button:hover {
  opacity: 0.7;
}

section.assinar .completo button {
  background-color: var(--cor-verde);
}

section.assinar .incompleto button {
  background-color: var(--cor-principal);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.assinar {
    padding: 2rem 0;
    background-size: 280%;
  }
  section.assinar .container-titulo {
    text-align: center;
    padding: 30px 0 0 0;
  }
  section.assinar .container-escolhas {
    width: 100%;
    display: flex;
    padding: 0 25px;
    flex-direction: column;
    align-items: center;
  }
  section.assinar .completo {
    padding-top: 2rem;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  section.assinar .incompleto {
    padding-top: 2rem;
    margin-top: 4rem;
    margin-left: 0;
    width: 100%;
  }
  section.assinar .botao {
    display: flex;
    justify-content: center;
  }
  section.assinar button {
    padding: 20px;
  }
}