/* <section class="certificado"> */

section.certificado{
  width: 100vw;
  height: auto;
  padding: 4rem 0;
  background-image: url('https://static.wizoom.com.br/site/images/index/linhas-background.png');
  background-size: 90%;
  padding: 4rem 80px;
}

section.certificado .container-certificado{
  background-color: var(--cor-branco-transparente);
  padding: 2rem;
  border-radius: 20px;
  display: flex;
}

section.certificado img{
  max-width: 85%;
  height: auto;
}

section.certificado .container-img{
  width:55%;
  display: flex;
  justify-content: center;
}

section.certificado .paragrafo{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 6rem;
}

section.certificado .paragrafo-certificado{
  font-size: clamp(0.2em, 0.2em + 3vw, 1.2em);
  line-height: 1.5;
  font-family: var(--fonte-bold);
  color: var(--cor-branco);
}

section.certificado .texto-cor-principal{
  color: var(--cor-principal);
  padding-top: 3rem;
}


/* Responsivo */
@media screen and (max-width: 1000px) {
  section.certificado{
      padding: 4rem 20px;
      background-size: 280%;      
      
  }
  section.certificado .container-certificado{
      display: flex;
      flex-direction: column;
  }
  
  section.certificado .container-img{
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  section.certificado img{
    max-width: 100%;
    height: auto;
  }

  section.certificado .texto-cor-principal{
    color: var(--cor-principal);
    padding-left: none;
  }

  section.certificado .paragrafo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: flex-start;
    padding-left: 0;

  }
}


