/* <section class="cta"> */

section.cta {
  width: 100vw;
  padding: 80px 0 0 0;
  box-sizing: content-box;
  background-image: url('https://static.wizoom.com.br/site/images/index/linhas-background.png');
  background-size: 90%;
  background-color: var(--cor-branco-transparente);
}

section.cta h2 {
  font-family: var(--fonte-bold);
  color: var(--cor-branco);
  font-size: clamp(1.8em, 0.2em + 3vw, 2.5em);
  padding: 0 80px;
  line-height: 1.7;
}

section.cta .container-textos {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-top: 20px;
  z-index: 1;
}

section.cta .container-texto {
  display: flex;
}

section.cta p {
  margin-bottom: 0.8rem;
  font-size: clamp(1rem, 5vw, 1.2rem);
  line-height: 1.7;
  font-family: var(--fonte-regular);
  color: var(--cor-branco);
  padding: 30px 0 0 0;
}

section.cta .container {
  height: 100%;
  width: 100%;
  z-index: 0;
  background-image: url('https://static.wizoom.com.br/site/images/index/widnei-2.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

section.cta .botao {
  width: 100%;
  padding: 30px 0 80px 80px;
}

section.cta button {
  background-color: var(--cor-principal);
  color: var(--cor-branco);
  font-size: clamp(1.2rem, 5vw, 1.7rem);
  line-height: 1.5;
  font-family: var(--fonte-bold);
  border: none;
  padding: 20px 35px;
  border-radius: 20px;
  transition: all 0.3s;
}

section.cta button:hover {
  background-color: var(--cor-verde);
}


/* Responsivo */

@media screen and (max-width: 1000px) {
  section.cta {
    padding-top: 2rem;
    background-size: 280%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  section.cta h2 {
    padding: 0 25px;
  }
  section.cta .container-textos {
    width: 100%;
    padding: 0 25px;
    padding-top: 1rem;
  }
  section.cta .container {
    height: 100%;
    width: 100%;
    z-index: 0;
    background-image: none;
  }
  section.cta .container-mobile {
    width: 100%;
    height: 70vh;
    background-image: url('https://static.wizoom.com.br/site/images/index/widnei-2.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    margin-top: 4rem;
  }
  section.cta .botao {
    padding: 20px 25px 50px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}