/* <section class="depoimentos"> */

section.depoimentos {
  width: 100vw;
  height: auto;
  padding: 0 80px 4rem 80px;
  background-image: url('https://static.wizoom.com.br/site/images/index/linhas-background.png');
  background-size: 90%;
  background-color: var(--cor-branco-transparente);
}

section.depoimentos h2 {
  font-size: clamp(1.7rem, 5vw, 2.3rem);
  line-height: 1.5;
  font-family: var(--fonte-bold);
  color: var(--cor-branco);
  padding: 4rem 0 2rem 0;
}

section.depoimentos h2 span {
  color: var(--cor-principal);
}

section.depoimentos .depoimentos {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

section.depoimentos .depoimentos img {
  width: 100%;
  max-width: 400px;
  margin: 20px 20px 20px 0;
  border-radius: 20px;
}

section.depoimentos .container-depoimento {
  background-color: var(--cor-cinza-escuro-1);
  width: calc((0.32)* 100%);
  min-width: 250px;
  height: 8rem;
  border-radius: 16px;
  margin: 1rem 0.1rem;
  padding: 1rem;
}

section.depoimentos h3 {
  color: var(--cor-principal);
  font-family: var(--fonte-bold);
  font-size: clamp(0.5em, 0.2em + 3vw, 0.9em);
  line-height: 1.5;
  flex-wrap: wrap
}

section.depoimentos p {
  color: var(--cor-branco);
  font-family: var(--fonte-medium);
  font-size: clamp(0.5em, 0.2em + 3vw, 0.9em);
  line-height: 1.5;
  flex-wrap: wrap;
}

section.depoimentos button {
  background-color: var(--cor-principal);
  color: var(--cor-branco);
  font-size: clamp(1.2rem, 5vw, 1.7rem);
  line-height: 1.5;
  font-family: var(--fonte-bold);
  border: none;
  padding: 20px 35px;
  border-radius: 20px;
  transition: all 0.3s;
  margin: 30px 0 0 0;
}

section.depoimentos button:hover {
  background-color: var(--cor-verde);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.depoimentos {
    padding: 0 25px 4rem 25px;
  }
  section.depoimentos .container-depoimento {
    width: 100%;
    min-width: 100%;
  }
  section.depoimentos .depoimentos img {
    margin: 20px 0 20px 0;
  }
  section.depoimentos h2 {
    text-align: center;
  }
}