/* <section class="tempo"> */

section.tempo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 80px;
  background-color: var(--cor-vermelho);
  position: relative;
}

/* Texto */

section.tempo h2 {
  font-family: var(--fonte-medium);
  font-size: clamp(1rem, 5vw, 1.2rem);
  color: var(--cor-branco);
  line-height: 1.5;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
}

/* Temporizador */

section.tempo .temporizador {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

section.tempo .temporizador .item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
}

section.tempo .temporizador .item h3 {
  font-family: var(--fonte-bold);
  font-size: clamp(2rem, 5vw, 3rem);
  color: var(--cor-branco);
  line-height: 1.5;
}

section.tempo .temporizador .item p {
  font-family: var(--fonte-regular);
  font-size: clamp(0.9rem, 5vw, 1rem);
  color: var(--cor-branco);
  line-height: 1.5;
  padding: 0 0 0 10px;
}

/* Responsivo */

@media screen and (max-width: 600px) {
  section.tempo {
    padding: 20px 20px 30px 20px;
  }
  section.tempo h2 {
    margin-right: 0;
    padding: 0 0 0 0;
  }
  section.tempo .temporizador .item {
    flex-direction: column;
    min-width: 70px;
  }
  section.tempo .temporizador .item h3 {
    font-size: clamp(1.4rem, 3vw, 1.7rem);
  }
  section.tempo .temporizador .item p {
    font-size: clamp(0.7rem, 3vw, 0.8rem);
  }
}