/* <footer> */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: var(--cor-preto);
}

footer p {
  font-family: var(--fonte-regular);
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: var(--cor-branco);
  padding: 0 0 0 10px;
}

footer img {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  footer {
    flex-direction: column;
    text-align: center;
    padding: 100px 30px;
  }
  footer p {
    padding: 15px 0 0 0;
  }
}