/* <section class="chance"> */

section.chance {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--cor-cinza-1);
  background-image: url('https://static.wizoom.com.br/site/images/gestao-marketing/background-1.png');
  background-size: cover;
  background-position: center;
  padding: 100px 0 0 100px;
}

section.chance img.detalhe {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80%;
}

section.chance img.principal {
  width: 100%;
  max-width: 40%;
  z-index: 2;
  margin-top: auto;
  margin-left: auto;
}

section.chance .titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 40%;
  padding: 100px 0 200px 0;
  z-index: 2;
}

section.chance .titulo h2 {
  font-family: var(--fonte-bold);
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  color: var(--cor-branco);
  line-height: 1.5;
}

section.chance .titulo h2 span {
  color: var(--cor-amarelo);
}

section.chance .titulo p {
  font-family: var(--fonte-regular);
  font-size: clamp(1rem, 1vw, 1.2rem);
  color: var(--cor-branco);
  line-height: 1.7;
  padding: 20px 0 30px 0;
}

section.chance .titulo button {
  font-family: var(--fonte-bold);
  font-size: clamp(1.1rem, 3vw, 1.3rem);
  color: var(--cor-branco);
  background-color: var(--cor-amarelo);
  padding: 20px 35px;
  border-radius: 50px;
  transition: all 0.3s;
}

section.chance .titulo button:hover {
  background-color: var(--cor-azul);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.chance {
    flex-direction: column;
    padding: 80px 0 0 30px;
  }
  section.chance img.detalhe {
    height: auto;
    width: 100%;
  }
  section.chance img.principal {
    max-width: 90%;
  }
  section.chance .titulo {
    max-width: 100%;
    padding: 0 30px 60px 0;
  }
  section.chance .titulo button {
    width: 100%;
    max-width: 300px;
  }
  section.chance .titulo button:hover {
    background-color: var(--cor-azul);
  }
}