/* site.wizoom.com.br/o-proximo-nivel */

@import '../../global/global.css';

/* Partials */

@import './partials/header.css';

/* VIEWPORT1 DESKTOP*/

.viewport-1{
    margin: 0;
    background-image: url('https://static.wizoom.com.br/site/images/o-proximo-nivel/background-1.png');
    background-size: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.viewport-1-txt{
    text-align: center;
    padding-top: 55px;
    margin-bottom: 5rem;
}

h4{
    color: var(--cor-branco);
    font-family: var(--fonte-bold);
    font-size: 28px;
    line-height: 1.5;
}

#p-txt1{
    color: var(--cor-branco);
    font-family: var(--fonte-medium);
    font-size: 14px;
    padding: 0 10px 0 10px ;
}

#txt-fonte-estilo{
    color: var(--cor-principal);
    font-family: var(--fonte-estilo);
    font-size: 30px;
    padding: 1.5rem 0 1.5rem 0;
}

#txt-3_bold{
    color: var(--cor-verde);
    font-family: var(--fonte-medium);
}

#bold{
    font-family: var(--fonte-medium);
    color: var(--cor-cinza-claro-3);
}

p{
    font-family: var(--fonte-regular);
    color: var(--cor-cinza-claro-3);
    font-size: 0.95rem;
    line-height: 2;
}


.viewPort-1-form{
    background-color: var(--cor-branco);
    min-width: 300px;
    width: 450px;
    height: 450px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 0 2rem 0 2rem ;
    text-align: left;
    margin-bottom: 8rem;
}

.container-img{
    min-width: 75%;
    max-width: 100%;    
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.imagem-form{
    max-width: 25%;
}

#form-txt-amarelo{
    color: var(--cor-principal);
    font-family: var(--fonte-bold);
    font-size: 22px;
    max-width: 300px;
    line-height: 1.5;
    padding-left: 1rem;
}

#form-txt-preto{
    color: var(--cor-preto);
    font-family: var(--fonte-medium);
    font-size: 12px;
    padding-left: 1rem;
}

.container-inputs{
    min-width: 75%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

input{
    width: 100%;
    background-color: var(--cor-cinza-claro-1);
    padding: 1rem;
    border-radius: 10px;
}

label{
    color: var(--cor-preto);
    font-family: var(--fonte-medium);
    font-size: 10px;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

#asterisco{
    color: var(--cor-vermelho);
}

#button-viewport1{
    background-color: var(--cor-verde);
    font-family: var(--fonte-estilo);
    font-size: 1.5rem;
    color: var(--cor-branco);
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
    min-width: 75%;
    max-width: 100%;
    cursor: pointer;
}

.form-imgs{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.img-antes{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.img-depois{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5rem;
    margin-left: 5rem;

}

#antes-e-depois{
    width: 250px;
}

.img-antes-e-depois{
    display: none;
}

/* VIEWPORT 2*/

.viewport-2{
    width: 100vw;
    background-color: var(--cor-cinza-escuro-2);
    background-image: url('https://static.wizoom.com.br/site/images/o-proximo-nivel/background-2.png');
    background-size: 90%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding-top: 3rem;
}

.info-curso{
    padding-left: 5rem;
}

.sobre-o-curso{
    z-index: 1;

}

#info-curso-img{
    width: 80px;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

#info-p{
    font-family: var(--fonte-medium);
    color: var(--cor-cinza-claro-1);
    font-size: 1.3rem;
}

.info-curso-botao{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.container-foto-homem-viewport2{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#img-homem{
    padding-top: 2rem ;
    height: 1200px;
}
#button-viewport2{
    background-color: var(--cor-verde);
    font-family: var(--fonte-estilo);
    font-size: 1.5rem;
    color: var(--cor-branco);
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
    min-width: 75%;
    max-width: 100%;
    cursor: pointer;
}

/* VIEWPORT 3 */

.viewport-3{
    width: 100vw;
    height: 150vh;
    background-image: url('https://static.wizoom.com.br/site/images/o-proximo-nivel/background-1.png');
    background-size: 90%;
    display: flex;
    padding-top: 5rem;

}

.foto-homem-viewport3{
    width: 40%;
}

.container-txt-viewport3{
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: center;

}

.txt-viewport3{
    height: 100%;

    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;

}

#txt-bold-amarelo{
    font-family: var(--fonte-bold);
    font-size: 28px;
    color: var(--cor-principal);
}

#txt-viewport3{
    font-family: var(--fonte-bold);
    font-size: 28px;
    color: var(--cor-cinza-claro-1);
}
#txt-bold{
    font-family: var(--fonte-bold);
    color: var(--cor-cinza-claro-2);
}

#txt-amarelo-viewport3{
    font-family: var(--fonte-medium);
    color: var(--cor-principal);
}

.foto-homem-viewport3-mobile{display: none;}

.foto-homem-viewport3{
    margin-right: 2rem;
    background-image: url('https://static.wizoom.com.br/site/images/o-proximo-nivel/widnei-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -120px;
}

.info-curso-botao-viewport3{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 5rem;
}   

#button-viewport3{
    width: 100px;
    background-color: var(--cor-verde);
    font-family: var(--fonte-estilo);
    font-size: 1.5rem;
    color: var(--cor-branco);
    margin-top: 2rem;
    padding: 1rem 0 1rem 0;
    border-radius: 10px;
    min-width: 75%;
    max-width: 100%;
    cursor: pointer;
}

.info-curso-botao-viewport4-mobile{display: none;}


/*   VIEWPORT 4 */

.viewport-4{
    width: 100vw;
    background-color: var(--cor-cinza-escuro-2);
    background-image: url('https://static.wizoom.com.br/site/images/o-proximo-nivel/background-2.png');
    background-size: 90%;
    display: flex;
    box-sizing: border-box;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.conheca-seu-prof{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3rem;
}

#fonte-regular{
    font-family: var(--fonte-regular);
    color: var(--cor-cinza-claro-4);
}

#fonte-estilo{
    font-family: var(--fonte-estilo);
    color: var(--cor-branco);
    font-size: 3rem;
}

#button-viewport4{
    width: 80%;
    background-color: var(--cor-verde);
    font-family: var(--fonte-estilo);
    font-size: 1.5rem;
    color: var(--cor-branco);
    padding:1.5rem;
    border-radius: 10px;
    min-width: 75%;
    max-width: 100%;
    cursor: pointer;
}
.container-imgs{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#esquerda{
    width: 250px;
    margin-right: 10rem;
}

#direita{
    width: 250px;
    margin-left: 10rem;
}

.rodape{
    background-color: var(--cor-cinza-escuro-1);
    width: 100vw;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-direitos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
}

#icone-wizoom{
    width: 40px;
}

#direitos{
    font-family: var(--fonte-medium);
    color: var(--cor-principal);
    padding-left: 1rem;
}
.container-redes-sociais{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5rem;
}
#icones{
    width: 40px;
    margin-right: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .viewport-1{
    background-image: url('https://static.wizoom.com.br/site/images/o-proximo-nivel/background-1.png');
    background-size: 250%;
    }
    h4{font-size: 25px;}
    #p-txt1{font-size: 10px;}
    #txt-fonte-estilo{font-size:25px;}
    .viewport-1-txt{margin-bottom: 2rem;}

    .form-imgs{
      display: flex;
      flex-direction: column;
    }
    .viewPort-1-form{width: 320px; height: 400px;}
    .img-antes{display: none;}
    .img-depois{display: none;}
    .img-antes-e-depois{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 8rem;
    }
    .iewPort-1-form{margin-bottom: none;}
    #antes-e-depois{margin-bottom: 2rem;}
    #form-txt-amarelo{font-size: 15px}
    #form-txt-preto{font-size: 8px;}
    #button-viewport1{font-size: 1rem;}

    .viewport-2{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: 250%;
        
    }

    .info-curso{padding: 1rem;}
    #info-p{font-size: 0.8rem;}
    #info-curso-img{padding-top: 1rem;}
    .container-foto-homem-viewport2{
        width: 100%;
        justify-content: center;
    }
    #img-homem{
        width: 70%;
        height: 50%;
    }

    .viewport-3{flex-direction: column;  height: 240vh; padding-top: 2rem; background-size: 250%;}
    .container-txt-viewport3{width: 95%; padding-left: 2rem;}
    #txt-bold-amarelo{font-size: 24px;}
    #txt-viewport3{font-size: 24px;}
    .info-curso-botao-viewport3{align-items: none; width: 100%;}
    .foto-homem-viewport3{display: none;}
    .foto-homem-viewport3-mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    #img-homem-viewport3{width: 60%;}

    .viewport-4{flex-direction: column; background-size: 250%;}
    .conheca-seu-prof{width: 100%; height: 75vh; padding-left: 2rem;}
    #fonte-estilo{font-size: 2.5rem; line-height: 1;}
    .info-curso-botao-viewport4{display: flex;justify-content: center; margin-top: 2rem;}
    .container-imgs{width: 100%;}
    #esquerda, #direita{width: 200px;  margin-top: 5rem;}
    #esquerda{margin-right: 5rem;}
    #direita{margin-left: 5rem;}


    .rodape{
        width: 100%;
        height: 20rem;
        flex-direction: column;
        padding: none;
    }

    .container-direitos{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
        padding-left: 0;
    }
    #direitos{font-size: 0.9rem;}
    #icones{width: 50px;}
    .container-redes-sociais{
        padding-right: 0;
        padding-bottom: 4rem;
        width: 100vw;
        justify-content: center;
    }




}